In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
from functools import reduce
pd.options.mode.chained_assignment = None  # default='warn'
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
import sys
sys.path.append("../../../../Functions and Dictionaries/") # Adds higher directory to python modules path
import geodict
namestocommon = geodict.namestocommon
geotogeoid = geodict.geotogeoid
tofullcensus = geodict.tofullcensus
import sqlite3 as sq

In [5]:
conn = sq.connect('../../../../Data-Pipelines/Outputs/Dem_Transpo_Housing_Collection.db')
sql_query = pd.read_sql('SELECT * FROM [UWisconsin_CountyHealthRankings_20192023]', conn)
data = pd.DataFrame(sql_query)
thelist = ['Cheatham', 'Davidson', 'Dickson', 'Houston', 'Humphreys', 'Montgomery', 'Robertson', 'Rutherford', 
          'Stewart', 'Sumner', 'Trousdale', 'Williamson', 'Wilson']
data = data.loc[data['NAME'].isin(thelist)]
data = data[['NAME', 'Year', 'Health Outcomes Ranking', 'Health Factors Ranking']]

In [6]:
data.head()

         NAME  Year Health Outcomes Ranking Health Factors Ranking
10   Cheatham  2022                      31                     13
18   Davidson  2022                      10                     16
21    Dickson  2022                      24                     20
41    Houston  2022                      75                     63
42  Humphreys  2022                      39                     34

In [10]:
df1 = data[['NAME', 'Year', 'Health Outcomes Ranking']]
df2 = data[['NAME', 'Year', 'Health Factors Ranking']]

In [7]:
data.to_csv('../data/countyhealthrankings.csv', index = False)