In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from functools import reduce
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.width', 150)
from functools import reduce
pd.options.mode.chained_assignment = None  # default='warn'
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)
import sys
sys.path.append("../../../../Functions and Dictionaries/") # Adds higher directory to python modules path
import geodict
namestocommon = geodict.namestocommon
geotogeoid = geodict.geotogeoid
tofullcensus = geodict.tofullcensus
import sqlite3 as sq

In [12]:
#datqa = pd.read_csv('../data/g_application.csv')

location=pd.read_csv('../data/g_location_disambiguated.tsv',sep='\t')

In [13]:
location.head()

,location_id,disambig_city,disambig_state,disambig_country,latitude,longitude,county,state_fips,county_fips
0,00235947-16c8-11ed-9b5f-1234bde3cd05,Westfield,PA,US,41.919237,-77.538874,Tioga,42.0,117.0
1,00236a27-16c8-11ed-9b5f-1234bde3cd05,Helfenstein,PA,US,40.750499,-76.447334,Schuylkill County,42.0,107.0
2,00236f47-16c8-11ed-9b5f-1234bde3cd05,Pine Forge,PA,US,40.281920,-75.692236,Berks County,42.0,11.0
3,00237418-16c8-11ed-9b5f-1234bde3cd05,Partlow,VA,US,38.038748,-77.638876,Spotsylvania County,51.0,177.0
4,002378d7-16c8-11ed-9b5f-1234bde3cd05,Stumpy Point,NC,US,35.698506,-75.740453,Dare,37.0,55.0

In [19]:
location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90730 entries, 0 to 90729
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   location_id       90730 non-null  object
 1   disambig_city     90686 non-null  object
 2   disambig_state    29781 non-null  object
 3   disambig_country  90722 non-null  object
 4   latitude          90730 non-null  float64
 5   longitude         90730 non-null  float64
 6   county            27264 non-null  object
 7   state_fips        27269 non-null  float64
 8   county_fips       27264 non-null  float64
dtypes: float64(4), object(5)
memory usage: 6.2+ MB

In [14]:
inventor=pd.read_csv('../data/g_inventor_disambiguated.tsv',sep='\t')

In [15]:
inventor.head()

,patent_id,inventor_sequence,inventor_id,disambig_inventor_name_first,disambig_inventor_name_last,gender_code,location_id
0,6584128,0,fl:ri_ln:kroeger-1,Richard,Kroeger,M,NaN
1,4789863,0,fl:th_ln:bush-1,Thomas A.,Bush,M,NaN
2,11161990,1,fl:ma_ln:boudreaux-4,Matthew F.,Boudreaux,M,04726932-16c8-11ed-9b5f-1234bde3cd05
3,6795487,1,fl:ge_ln:whitworth-1,Gerald,Whitworth,M,NaN
4,D474886,0,fl:th_ln:fleming-4,Thomas W.,Fleming,M,1893009c-16c8-11ed-9b5f-1234bde3cd05

In [18]:
inventor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21197038 entries, 0 to 21197037
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   patent_id                     object
 1   inventor_sequence             int64
 2   inventor_id                   object
 3   disambig_inventor_name_first  object
 4   disambig_inventor_name_last   object
 5   gender_code                   object
 6   location_id                   object
dtypes: int64(1), object(6)
memory usage: 1.1+ GB

In [57]:
locinv = inventor.merge(location, on = 'location_id')

In [54]:
locinv.head()

,patent_id,inventor_sequence,inventor_id,disambig_inventor_name_first,disambig_inventor_name_last,gender_code,location_id,disambig_city,disambig_state,disambig_country,latitude,longitude,county,state_fips,county_fips
0,6584128,0.0,fl:ri_ln:kroeger-1,Richard,Kroeger,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4789863,0.0,fl:th_ln:bush-1,Thomas A.,Bush,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6795487,1.0,fl:ge_ln:whitworth-1,Gerald,Whitworth,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3940076,1.0,fl:to_ln:yoshizawa-16,Toshio,Yoshizawa,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3930794,1.0,fl:ru_ln:schickfluss-1,Rudolf,Schickfluss,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
locinv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21200281 entries, 0 to 21200280
Data columns (total 15 columns):
 #   Column                        Dtype
---  ------                        -----
 0   patent_id                     object
 1   inventor_sequence             float64
 2   inventor_id                   object
 3   disambig_inventor_name_first  object
 4   disambig_inventor_name_last   object
 5   gender_code                   object
 6   location_id                   object
 7   disambig_city                 object
 8   disambig_state                object
 9   disambig_country              object
 10  latitude                      float64
 11  longitude                     float64
 12  county                        object
 13  state_fips                    float64
 14  county_fips                   float64
dtypes: float64(5), object(10)
memory usage: 2.5+ GB

In [21]:
locinv = locinv.loc[locinv['state_fips'] == 47]

In [52]:
locinv['inventor_id'].nunique()

25719

In [23]:
patents=pd.read_csv('../data/g_patent.tsv',sep='\t')

C:\Users\jmccall\AppData\Local\Temp\ipykernel_9992\960953661.py:1: DtypeWarning: Columns (0,4) have mixed types. Specify dtype option on import or set low_memory=False.
  patents=pd.read_csv('../data/g_patent.tsv',sep='\t')

In [24]:
patents.head()

,patent_id,patent_type,patent_date,patent_title,patent_abstract,wipo_kind,num_claims,withdrawn,filename
0,10000000,utility,2018-06-19,Coherent LADAR using intra-pixel quadrature de...,A frequency modulated (coherent) laser detecti...,B2,20,0,ipg180619.xml
1,10000001,utility,2018-06-19,Injection molding machine and mold thickness c...,The injection molding machine includes a fixed...,B2,12,0,ipg180619.xml
2,10000002,utility,2018-06-19,Method for manufacturing polymer film and co-e...,The present invention relates to: a method for...,B2,9,0,ipg180619.xml
3,10000003,utility,2018-06-19,Method for producing a container from a thermo...,The invention relates to a method for producin...,B2,18,0,ipg180619.xml
4,10000004,utility,2018-06-19,"Process of obtaining a double-oriented film, c...",The present invention relates to provides a do...,B2,6,0,ipg180619.xml

In [25]:
patents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8517464 entries, 0 to 8517463
Data columns (total 9 columns):
 #   Column           Dtype
---  ------           -----
 0   patent_id        object
 1   patent_type      object
 2   patent_date      object
 3   patent_title     object
 4   patent_abstract  object
 5   wipo_kind        object
 6   num_claims       int64
 7   withdrawn        int64
 8   filename         object
dtypes: int64(2), object(7)
memory usage: 584.8+ MB

In [26]:
data = locinv.merge(patents, on = 'patent_id')

In [30]:
data.tail()

,patent_id,inventor_sequence,inventor_id,disambig_inventor_name_first,disambig_inventor_name_last,gender_code,location_id,disambig_city,disambig_state,disambig_country,latitude,longitude,county,state_fips,county_fips,patent_type,patent_date,patent_title,patent_abstract,wipo_kind,num_claims,withdrawn,filename
9548,D662996,0,lxvf4oiqs1n6wafoku3u7wf8j,Sharon L.,Goforth,F,f7cddfb1-16c7-11ed-9b5f-1234bde3cd05,Grimsley,TN,US,36.267013,-84.984398,Fentress,47.0,49.0,design,2012-07-03,Combined plush toy and stool,NaN,S1,1,0,ipg120703.xml
9549,D362858,0,fl:be_ln:dyer-2,Ben,Dyer,M,f2c090b5-16c7-11ed-9b5f-1234bde3cd05,Mohawk,TN,US,36.200931,-83.052660,Greene County,47.0,59.0,design,1995-10-03,Wide belt sander housing,NaN,S,1,0,pftaps19951003_wk40.zip
9550,D322491,0,fl:jo_ln:huskey-1,Joseph E.,Huskey,M,ec92366e-16c7-11ed-9b5f-1234bde3cd05,Copperhill,TN,US,34.989157,-84.370098,Polk,47.0,139.0,design,1991-12-17,Dental flosser,NaN,S,1,0,pftaps19911217_wk51.zip
9551,D398198,0,fl:da_ln:sanders-32,David,Sanders,M,e3044ed7-16c7-11ed-9b5f-1234bde3cd05,Fisherville,TN,US,35.159256,-89.663692,Shelby County,47.0,157.0,design,1998-09-15,Wine rack,NaN,S,1,0,pftaps19980915_wk37.zip
9552,D338889,1,fl:ch_ln:hampton-3,Charles,Hampton,M,e9d166e0-16c7-11ed-9b5f-1234bde3cd05,Westport,TN,US,35.896452,-88.317268,Carroll County,47.0,17.0,design,1993-08-31,Caller identification device,NaN,S,1,0,pftaps19930831_wk35.zip

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9553 entries, 0 to 9552
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   patent_id                     9553 non-null   object
 1   inventor_sequence             9553 non-null   int64
 2   inventor_id                   9553 non-null   object
 3   disambig_inventor_name_first  9553 non-null   object
 4   disambig_inventor_name_last   9553 non-null   object
 5   gender_code                   9473 non-null   object
 6   location_id                   9553 non-null   object
 7   disambig_city                 9553 non-null   object
 8   disambig_state                9553 non-null   object
 9   disambig_country              9553 non-null   object
 10  latitude                      9553 non-null   float64
 11  longitude                     9553 non-null   float64
 12  county                        9553 non-null   object
 13  state_fips                    9553 non-null   float64
 14  county_fips                   9553 non-null   float64
 15  patent_type                   9553 non-null   object
 16  patent_date                   9553 non-null   object
 17  patent_title                  9553 non-null   object
 18  patent_abstract               948 non-null    object
 19  wipo_kind                     9553 non-null   object
 20  num_claims                    9553 non-null   int64
 21  withdrawn                     9553 non-null   int64
 22  filename                      9553 non-null   object
dtypes: float64(4), int64(3), object(16)
memory usage: 1.7+ MB

In [33]:
data['disambig_city'].unique()

array(['Nashville', 'Old Hickory', 'Franklin', 'Brentwood', 'Hartsville',
       'Lebanon', 'Nolensville', 'Rockvale', 'Hermitage',
       'Hendersonville', 'Murfreesboro', 'Springfield', 'Eagleville',
       'Mount Juliet', 'Smyrna', 'Gallatin', 'Goodlettsville', 'Antioch',
       'La Vergne', "Thompson's Station", 'Christiana', 'Clarksville',
       'Dickson', 'Burns', 'White Bluff', 'Whites Creek', 'Lascassas',
       'Pegram', 'Kingston Springs', 'Oakridge', 'Ashland City',
       'White House', 'Castalian Springs', 'Cottontown', 'Slayden',
       'Joelton', 'Arrington', 'Erin', 'Dover', 'Charlotte',
       'Westmoreland', 'Cumberland City', 'Greenville', 'McEwen',
       'Watertown', 'New Johnsonville', 'Tennessee Ridge',
       'Cumberland Furnace', 'Portland'], dtype=object)

In [31]:
thelist = [21.0, 37.0, 43.0, 83.0, 85.0, 125.0, 147.0, 149.0, 161.0, 165.0, 169.0, 187.0, 189.0]
data = data.loc[data['county_fips'].isin(thelist)]

In [34]:
data.head()

,patent_id,inventor_sequence,inventor_id,disambig_inventor_name_first,disambig_inventor_name_last,gender_code,location_id,disambig_city,disambig_state,disambig_country,latitude,longitude,county,state_fips,county_fips,patent_type,patent_date,patent_title,patent_abstract,wipo_kind,num_claims,withdrawn,filename
0,D664638,1,fl:am_ln:grella-1,Amy,Grella,F,7149ce92-16c8-11ed-9b5f-1234bde3cd05,Nashville,TN,US,36.162277,-86.774298,Davidson,47.0,37.0,design,2012-07-31,Fireplace assembly,NaN,S1,1,0,ipg120731.xml
1,D664638,0,fl:jo_ln:benedetti-3,Joseph A.,Benedetti,M,7149ce92-16c8-11ed-9b5f-1234bde3cd05,Nashville,TN,US,36.162277,-86.774298,Davidson,47.0,37.0,design,2012-07-31,Fireplace assembly,NaN,S1,1,0,ipg120731.xml
2,D596477,0,fl:ar_ln:jones-28,Aroll A.,Jones,M,7149ce92-16c8-11ed-9b5f-1234bde3cd05,Nashville,TN,US,36.162277,-86.774298,Davidson,47.0,37.0,design,2009-07-21,Door pull,NaN,S1,1,0,ipg090721.xml
3,D519693,3,fl:th_ln:burdsall-1,Thomas A.,Burdsall,M,7149ce92-16c8-11ed-9b5f-1234bde3cd05,Nashville,TN,US,36.162277,-86.774298,Davidson,47.0,37.0,design,2006-04-25,Pressure washer,NaN,S1,1,0,ipg060425.xml
4,D519693,0,fl:je_ln:ricker-4,Jeffery G.,Ricker,M,e6ac5e58-16c7-11ed-9b5f-1234bde3cd05,Old Hickory,TN,US,36.259713,-86.648088,Davidson County,47.0,37.0,design,2006-04-25,Pressure washer,NaN,S1,1,0,ipg060425.xml

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2547 entries, 0 to 9521
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   patent_id                     2547 non-null   object
 1   inventor_sequence             2547 non-null   int64
 2   inventor_id                   2547 non-null   object
 3   disambig_inventor_name_first  2547 non-null   object
 4   disambig_inventor_name_last   2547 non-null   object
 5   gender_code                   2521 non-null   object
 6   location_id                   2547 non-null   object
 7   disambig_city                 2547 non-null   object
 8   disambig_state                2547 non-null   object
 9   disambig_country              2547 non-null   object
 10  latitude                      2547 non-null   float64
 11  longitude                     2547 non-null   float64
 12  county                        2547 non-null   object
 13  state_fips                    2547 non-null   float64
 14  county_fips                   2547 non-null   float64
 15  patent_type                   2547 non-null   object
 16  patent_date                   2547 non-null   object
 17  patent_title                  2547 non-null   object
 18  patent_abstract               199 non-null    object
 19  wipo_kind                     2547 non-null   object
 20  num_claims                    2547 non-null   int64
 21  withdrawn                     2547 non-null   int64
 22  filename                      2547 non-null   object
dtypes: float64(4), int64(3), object(16)
memory usage: 477.6+ KB

In [58]:
forgrouping = data[['patent_id', 'county', 'patent_title']]

In [60]:
forgrouping.head(30)

   patent_id           county                                       patent_title
0    D664638         Davidson                                 Fireplace assembly
1    D664638         Davidson                                 Fireplace assembly
2    D596477         Davidson                                          Door pull
3    D519693         Davidson                                    Pressure washer
4    D519693  Davidson County                                    Pressure washer
5    D359918         Davidson  Timing device for feeding children and/or admi...
6    D359918         Davidson  Timing device for feeding children and/or admi...
7    D450011         Davidson                                         Flower box
8    D872996         Davidson                     Tri-paneled shipping container
9    D872996         Davidson                     Tri-paneled shipping container
10   9973455         Davidson                  Message customization and routing
11   9973455         Davidson                  Message customization and routing
12   9973455         Davidson                  Message customization and routing
13   9973455         Davidson                  Message customization and routing
14   9973455       Williamson                  Message customization and routing
15   9973455       Williamson                  Message customization and routing
16   9973455       Williamson                  Message customization and routing
17   9973455       Williamson                  Message customization and routing
18   9973455       Williamson                  Message customization and routing
19   D458613         Davidson                     Housing for a rotary lawnmower
20   D458613         Davidson                     Housing for a rotary lawnmower
21   D458613       Williamson                     Housing for a rotary lawnmower
23   D347908         Davidson                                  Nail polish caddy
24   D750973         Davidson                                               Tray
25   D750973        Trousdale                                               Tray
26   D273151         Davidson                                            Luggage
27   D273151           Wilson                                            Luggage
28   D387627         Davidson                         Insulated beverage carrier
29   D687616         Davidson                                          Pet treat
30   D687616         Davidson                                          Pet treat

In [49]:
forgrouping['patent_id'].nunique()

1749

In [62]:
forgrouping = forgrouping.drop_duplicates()

In [63]:
forgrouping.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2057 entries, 0 to 9521
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   patent_id     2057 non-null   object
 1   county        2057 non-null   object
 2   patent_title  2057 non-null   object
dtypes: object(3)
memory usage: 64.3+ KB

In [64]:
forgrouping.to_csv('patents_check_droppeddupes.csv')

In [ ]:
forgrouping.set_index('county')